body{
    font-family:"Lucida Grande";
    font-size:12px;
}
a{
    color:#666;
    text-decoration:none;
}
a:hover{
    color:black;
}
a#forkme_banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 138px;
  display: block;
  background: transparent url(../images/fork-sprite.png) 0 0 no-repeat;
  text-indent: -9000px;
  z-index: 3;
}
h1{
    margin-top:40px;
    text-align:center;
}
a#forkme_banner:hover {
  background-position: 0 -138px;
}

.stage{
  margin:0 auto;
  width:700px;
  height:450px;
}
.stage .slides{
  background-color:#eee;
}
.stage .bullets .bullet.active a{
  color:black;
}
.stage .slide{
    border:thin solid #ddd;
}
.stage .slide .number{
    position:absolute;
    top:10px;
    left:10px;
}
.stage .arrows{
}
.stage .arrows .arrow{
    position:absolute;
    top:200px;
    padding:10px;
}
.stage .arrows .arrow.next{
    left:700px;
}
.stage .arrows .arrow.prev{
    left:-50px;
}
.stage .bullets{
    width:700px;
    text-align:center;
}
.stage .bullets .bullet{
    display:inline;
    padding:10px;
}